@charset "UTF-8";

.modal-content {
	 height: 42em;
     overflow-y: auto;
     scroll-behavior: smooth;
}

#itemModal {
     z-index: 9999;
  }
  
 td, th {
 	text-align: center;
 }
 
.form-control-sm{
    font-size: 18px !important;
    border: none !important;
    text-align: center !important;
    background: none !important;
}
