@charset "UTF-8";

input#regist {
	float:right;
}

.modal-content {
	 height: 42em;
     overflow-y: auto;
     scroll-behavior: smooth;
}

#itemModal {
     z-index: 9999;
  }
  
 td, th {
 	text-align: center;
 }
 
#ListExcel {
	float:right;
}

.rectipt-body {
	left: -5em;
    top: -13em;
    width: 50em;
    height: 60em;
    overflow-y: auto;
    scroll-behavior: smooth;
}