@charset "UTF-8";

table {
	border: 1px solid black;
}
#regist {
	margin-right: 26px;
	float:right;
	margin-top: -31px;
	margin-bottom: 23px;
}

.modal-content {
	 height: 42em;
     overflow-y: auto;
     scroll-behavior: smooth;
}

#itemModal {
     z-index: 9999;
  }
  
 td, th {
 	text-align: center;
 }
 
#ListExcel {
	margin-right: 26px;
	margin-top: -48px;
	float:right;
}

.rectipt-body {
    left: -21em;
    width: 70rem;
    height: 80em;
    overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.recript-title {
    font-size: 30px;
}
.receiptTitle {
	text-align: center;
    font-size: 35px;
    letter-spacing: 10px;
}
#rordersdate {
    width: 150px;
    margin-top: -5px;
    font-size: 20px;
}

.odate {
	color:black;
	margin-bottom: 15px;
	float:right;
	display:flex;
	margin-top: 30px;
	font-size: 20px;
}

.form-control-sm{
	color: black;
    font-size: 19px !important;
    border: none !important;
    text-align: center !important;
    background: none !important;
}

.pt15 {
	color: black;
	font-size: 19px;
	padding-top: 15px !important;
   	width: 10em;	
}
.fs19 {
	color: black;
    background: #DDDEDF;
	font-size: 19px;
}

.inputWidth input {
	width:109px;
}

.rowspan6 {
	color: black;
    background: #DDDEDF;
	width: 5em;
	font-size: 23px;
    font-weight: bold;
    letter-spacing: 24px;
    padding-right: 42px !important;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
}

.tdempty {
	height:3.2em;
}

.rem13 {
	color: black;
    background: #DDDEDF;
	font-size: 19px;
	width:13rem;
	padding-top: 15px !important;
}

.thirdtable {
    width: 470px;
}
.bgray {
	background: #F8F9FA;
}

@media print {
  input {
    border: none;
  }
    body, .rectipt-body {
    color: black;
  }
  
  .fs19, .rowspan6, .rem13 {
      background: #DDDEDF;
   }
  
}

.thirdtable input{
	margin-left: auto;
    margin-right: auto;
}
.ReceiptPDF {
	float:right;
}

.refooter{
	color: black;
	display: flex;
	text-align: center !important;
	 font-size: 23px !important;
    border: none !important;
    background: none !important;
}

.refooter1 {
	color: black;
	font-size:19px;
	margin-top: -10px;
  border: none; /* 모든 테두리 제거 */
  border-bottom: 1px solid #757575; /* 밑면에 1px 두께의 실선 테두리 추가 */
  outline: none;
  text-align: center !important;
	 font-size: 18px !important;
    background: none !important;
	
}
.bclose {
	float:right;
}

.retoday {
	color: black;
    text-align: center;
    font-size: 24px;
}
.form-control {
   border-radius: 5px; 
   width:220px;
}

#cafeinPng {
	display:flex;
    width: 200px;
    margin-left: 25.4rem;
    margin-top: -5px;
}