<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ReceiveMapper.xml -->
<mapper namespace="com.cafein.mapper.ReceiveMapper">
	
	<!-- 입고 목록 -->
	<select id="receiveList" resultType="com.cafein.domain.ReceiveVO">
		select * from receive
	</select>
	
</mapper>