<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- OrdersMapper.xml -->
<mapper namespace="com.cafein.mapper.OrdersMapper">
	
	<!-- 발주 목록 -->
	<select id="ordersList" resultType="com.cafein.domain.OrdersVO">
		select od.ordersid, od.orderscode, it.itemcode, it.itemname,
	   		   od.ordersquantity, od.ordersdate, od.deliverydate
		from orders od
		join item it on od.itemcode = it.itemcode;
	</select>
	
</mapper>