<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SalesMapper.xml -->
<mapper namespace="com.cafein.mapper.SalesMapper">

<!-- 수주 등록 -->
<insert id="registPO" parameterType="com.cafein.domain.SalesVO">
    INSERT INTO purchaseorder (postate, pocode, clientid, itemid, pocnt, ordersdate, updatedate, ordersduedate, membercode)
    VALUES (#{postate}, #{pocode}, #{clientid}, #{itemid}, #{pocnt}, #{ordersdate}, #{updatedate}, #{ordersduedate}, #{membercode})
</insert>

<!-- 수주 조회 -->
<select id="getPOList" resultType="com.cafein.domain.SalesVO">
<!-- 	select * from purchaseorder -->
	SELECT *
    FROM purchaseorder po
    JOIN item ON po.itemid = item.itemid
    JOIN client cli ON po.clientid = cli.clientid
</select>










</mapper>