<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafein.mapper.ShipMapper">

	<!-- 출하 조회 -->
	<select id="getSHList" resultType="com.cafein.domain.ShipVO">
		<!-- select * from ship -->
		SELECT sh.shipid, sh.shipcode, sh.shipcount, sh.shipsts,
		stock.stockid, sh.shipdate, sh.pocode, sh.membercode, sh.lotnumber
		FROM ship sh
		JOIN stock ON sh.stockid = stock.stockid
	</select>
	
	<!-- 작업지시 조회 -->
	<select id="getWKList" resultType="com.cafein.domain.ShipVO">
		<!-- select * from ship -->
		SELECT * FROM work
	</select>

</mapper>