<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafein.mapper.ShipMapper">

	<!-- 출하 조회 -->
	<select id="getSHList" resultType="com.cafein.domain.ShipVO">
		<!-- select * from ship -->
		SELECT sh.shipid, sh.shipdate, sh.shipcode, sh.workcode,
		sh.stockid, st.itemid, it.itemname, it.clientcode,
		sh.shipcount, sh.shipsts, sh.membercode
		FROM ship sh
		LEFT JOIN stock st ON sh.stockid = st.stockid
		LEFT JOIN
		item it ON st.itemid = it.itemid
	</select>
	
	<!-- 출하 등록 -->
	<insert id="registSH" parameterType="com.cafein.domain.ShipVO">
		INSERT INTO ship (shipsts, workcode, clientname, itemname, shipcount, shipdate, membercode)
		VALUES ( #{shipsts}, #{workcode}, #{cleintcode}, #{itemname}, #{shipcount}, #{shipdate}, #{membercode} )
	</insert>
	
	<!-- 출하 등록 작업지시코드 -->
	<select id="wcList" resultType="com.cafein.domain.WorkVO">
		SELECT wk.workcode, wk.clientcode, wk.itemname, wk.shipcount, wk.shipdate, wk.memvercode
		FROM work wk
	</select>
	
	<!-- 작업지시 조회 -->
	<select id="getWKList" resultType="com.cafein.domain.WorkVO">
		<!-- select * from ship -->
		SELECT wk.workid, wk.workdate1, wk.workcode,
		wk.pocode, it.itemcode, pr.produceline,
		wk.worksts, wk.workcount, wk.workdate2,
		wk.membercode
		FROM work wk
		JOIN purchaseorder po ON wk.pocode = po.pocode
		left JOIN item it ON wk.itemcode = it.itemcode
		left JOIN produce pr ON wk.produceid = pr.produceid;
	</select>
	
	<!-- 실적 조회 -->
	<select id="getPFList" resultType="com.cafein.domain.WorkVO">
		<!-- select * from ship -->
		SELECT * FROM work
	</select>

</mapper>